<ion-content [fullscreen]="true">
  <div class="page-content">

    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h3>Social Maps</h3>
          <span>Nuestra red social</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <form>
            <ion-list lines="none">
              <ion-item>
                <ion-input placeholder="email@email.com" label-placement="floating" fill="outline" name="username"
                  label="Nombre de usuario" type="text" [(ngModel)]="username">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-input placeholder="********" label="Contraseña" label-placement="floating" fill="outline"
                  name="password" [clearInput]="true" type="password" [(ngModel)]="password">
                </ion-input>
              </ion-item>
            </ion-list>
          </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="login($event)" type="submit">Login</ion-button>
        </ion-col>
      </ion-row>`
      <ion-row>
        <ion-col class="ion-text-center">
          <a class="forgot-btn" (click)="recuperarPassword()">¿Olvidaste tu contraseña?</a>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-button routerLink="/register" fill="outline">Regístrate</ion-button>
</ion-footer>