:root {
    --ion-color-primary: #ef476f;
    --ion-color-primary-rgb: 239, 71, 111;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #d23e62;
    --ion-color-primary-tint: #f1597d;

    --ion-color-secondary: #118ab2;
    --ion-color-secondary-rgb: 17, 138, 178;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #0f799d;
    --ion-color-secondary-tint: #2996ba;

    --ion-color-tertiary: #06d6a0;
    --ion-color-tertiary-rgb: 6, 214, 160;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #05bc8d;
    --ion-color-tertiary-tint: #1fdaaa;

    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45, 213, 91;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;

    --ion-color-warning: #ffd166;
    --ion-color-warning-rgb: 255, 209, 102;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0b85a;
    --ion-color-warning-tint: #ffd675;

    --ion-color-danger: #073b4c;
    --ion-color-danger-rgb: 7, 59, 76;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #063443;
    --ion-color-danger-tint: #204f5e;

    --ion-color-light: #f6f8fc;
    --ion-color-light-rgb: 246, 248, 252;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d8dade;
    --ion-color-light-tint: #f7f9fc;

    --ion-color-medium: #5f5f5f;
    --ion-color-medium-rgb: 95, 95, 95;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #545454;
    --ion-color-medium-tint: #6f6f6f;

    --ion-color-dark: #2f2f2f;
    --ion-color-dark-rgb: 47, 47, 47;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #292929;
    --ion-color-dark-tint: #444444;

}

@media (prefers-color-scheme: dark) {
    :root {
        --ion-color-primary: #2d0065;
        --ion-color-primary-rgb: 45, 0, 101;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255, 255, 255;
        --ion-color-primary-shade: #280059;
        --ion-color-primary-tint: #421a74;

        --ion-color-secondary: #360153;
        --ion-color-secondary-rgb: 54, 1, 83;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255, 255, 255;
        --ion-color-secondary-shade: #300149;
        --ion-color-secondary-tint: #4a1a64;

        --ion-color-tertiary: #46074d;
        --ion-color-tertiary-rgb: 70, 7, 77;
        --ion-color-tertiary-contrast: #ffffff;
        --ion-color-tertiary-contrast-rgb: 255, 255, 255;
        --ion-color-tertiary-shade: #3e0644;
        --ion-color-tertiary-tint: #59205f;

        --ion-color-success: #560737;
        --ion-color-success-rgb: 86, 7, 55;
        --ion-color-success-contrast: #ffffff;
        --ion-color-success-contrast-rgb: 255, 255, 255;
        --ion-color-success-shade: #4c0630;
        --ion-color-success-tint: #67204b;

        --ion-color-warning: #ffc409;
        --ion-color-warning-rgb: 255, 196, 9;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #e0ac08;
        --ion-color-warning-tint: #ffca22;

        --ion-color-danger: #600028;
        --ion-color-danger-rgb: 96, 0, 40;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #540023;
        --ion-color-danger-tint: #701a3e;

        --ion-color-light: #f6f8fc;
        --ion-color-light-rgb: 246, 248, 252;
        --ion-color-light-contrast: #000000;
        --ion-color-light-contrast-rgb: 0, 0, 0;
        --ion-color-light-shade: #d8dade;
        --ion-color-light-tint: #f7f9fc;

        --ion-color-medium: #5f5f5f;
        --ion-color-medium-rgb: 95, 95, 95;
        --ion-color-medium-contrast: #ffffff;
        --ion-color-medium-contrast-rgb: 255, 255, 255;
        --ion-color-medium-shade: #545454;
        --ion-color-medium-tint: #6f6f6f;

        --ion-color-dark: #2f2f2f;
        --ion-color-dark-rgb: 47, 47, 47;
        --ion-color-dark-contrast: #ffffff;
        --ion-color-dark-contrast-rgb: 255, 255, 255;
        --ion-color-dark-shade: #292929;
        --ion-color-dark-tint: #444444;

    }
}