<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page_content">
    <form>
      <ion-list>
        <ion-item>
          <ion-input name="nombre" type="text" placeholder="Nombre" formControlName="nombre">
          </ion-input>
          <ion-note *ngIf="form.get('nombre')?.touched && form.get('nombre')?.hasError('required')">El nombre es
            obligatorio!</ion-note>
        </ion-item>

        <ion-item>
          <ion-input name="apellidos" type="text" placeholder="Apellidos" formControlName="apellidos">
          </ion-input>
          <ion-note *ngIf="form.get('apellidos')?.touched && form.get('apellidos')?.hasError('required')">Los apellidos
            son obligatorios!</ion-note>
        </ion-item>

        <ion-item>
          <ion-input name="email" type="email" placeholder="E-mail" formControlName="email">
          </ion-input>
          <ion-note *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">El email es
            obligatorio!</ion-note>
        </ion-item>

        <ion-item>
          <ion-input name="provincia" type="text" placeholder="Provincia" formControlName="provincia">
          </ion-input>
          <ion-note *ngIf="form.get('provincia')?.touched && form.get('provincia')?.hasError('required')">La provincia
            es obligatoria!</ion-note>
        </ion-item>

        <ion-item>
          <ion-input name="ciudad" type="text" placeholder="Ciudad" formControlName="ciudad">
          </ion-input>
          <ion-note *ngIf="form.get('ciudad')?.touched && form.get('ciudad')?.hasError('required')">La ciudad es
            obligatoria!</ion-note>
        </ion-item>

        <ion-item>
          <ion-input formControlName="email" type="email" placeholder="E-mail"></ion-input>
          <ion-note *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">Este campo es
            obligatorio</ion-note>
        </ion-item>

        <ion-item>
          <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
          <ion-note *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">Este campo es
            obligatorio</ion-note>
        </ion-item>
      </ion-list>
    </form>
  </div>

  <ion-footer class="ion-text-center">
    <ion-button for="ngForm" type="submit">Crear cuenta</ion-button>
  </ion-footer>
</ion-content>